<div id="articleList"></div>
<script>
    let articleList = document.getElementById('articleList');
    fetch('/article')
        .then(response=>response.json())
        .then(result=>{
            console.log(result);
            result.forEach(article=>{
                articleList.innerHTML += `
                    <div class="post-preview">
                        <a href="/article/${article.id}">
                            <h2 class="post-title">
                                 ${article.title}
                            </h2>
                            <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            ${article.author}
                        </p>
                    </div>
                `;
            })
        })
</script>